
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(spider.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slide-pair {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
    animation: slideIn 7s ease-in-out forwards;
}

.slide-pair img {
    width: 45%;
    height: auto;
    border-radius: 8px;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        top: 450px;
    }
    15%, 84% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -450px;
    }
}
